In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Importing the dataset**

In [2]:
df = pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
df.drop('User ID', axis=1, inplace=True)

In [8]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

**Splitting the dataset into the Training set and Test set**

In [9]:
from sklearn.model_selection import train_test_split

X = df.drop('Purchased', axis=1)
y = df['Purchased']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=0)

**Feature Scaling**

In [10]:
from sklearn.preprocessing import StandardScaler

scale_features= ['Age','EstimatedSalary']
for feature in scale_features:
    scaler = StandardScaler()
    scaler.fit(X_train[[feature]])
    X_train[feature] = scaler.transform(X_train[[feature]])
    X_test[feature] = scaler.transform(X_test[[feature]])

**Fitting K-NN to the Training set**

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
from sklearn.model_selection import cross_val_score


def find_best_k_metric(X, y):
    [k, best_k, current_score, last_score] = [0]*4
    while current_score >= last_score:
        [best_k, last_score] = [k, current_score]
        k += 1
        clf = KNeighborsClassifier(n_neighbors=k)
        clf.fit(X, y)
        current_score = cross_val_score(
            clf, X, y, scoring='accuracy').mean()
        # print(k, current_score)
    return [best_k, current_score]

In [13]:
[k, s] = find_best_k_metric(X_train, y_train)
k,s

(1, 0.84375)

In [14]:
clf = KNeighborsClassifier()
clf.fit(X_train,y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [15]:
y_pred = clf.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1])

**Making the Confusion Matrix**

In [16]:
from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(y_test,y_pred).ravel()
tn, fp, fn, tp

(55, 3, 1, 21)